#splash {
    /*fixedで全面に固定*/
	position: fixed;
	z-index: 1050;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align:center;
	color:#F6B03F;
	
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #F6B03F;
}