.gnavi a {
    position: relative;
}
  
.gnavi a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background: #F6B03F;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.gnavi a:hover::after {
    width: 100%;
}