html{
    font-size: 100%;
}

body{
    font-family:"Noto Sans JP", sans-serif;
    color: #000;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
}

.logo{
    width: 11.625rem;
    color: #F6B03F;
}

.gnavi{
    display: flex;
}

.gnavi li{
    margin-right: 30px;
}

.gnavi a{
    font-size: 1rem;
}

.main-visual{
    position: relative;
    padding-top: 60px;
}

.copy{
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: #F6B03F;
}

.copy-text{
    font-family: "brandon-grotesque", sans-serif;
    font-size: 15.7333333333vw;
    font-weight: 900;
    letter-spacing: 0.08em;
    line-height: 1;
}

.bottom{
    margin-top: 200px;
}

.main-visual-img{
    display: flex;
    position: absolute;
    top: 20vh;
    left: 5vh;
}

.main-visual-img img{
    display: block;
    width: 30vw;
}

.item1{
    position: relative;
}

.item1:hover .hover-text{
    display: inline;
}

.hover-text{
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #FFF7DC;
    top: 40px;
    right: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 3vw;
}

#introduce{
    margin: 0 auto;
    padding: 2.625rem 0 8rem;
    background: -moz-linear-gradient(top, #FFF7DC, #FFF);
    background: -webkit-linear-gradient(top, #FFF7DC, #FFF);
    background: linear-gradient(to bottom, #FFF7DC #FFF);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.inner{
    max-width: 1200px;
    margin: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.introduce-text{
    width: 50%;
    text-align: left;
}

.introduce-text p{
    margin-top: 10px;
}

.last{
    text-align: end;
}

.content{
    margin-bottom: 20px;
}

.phots{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.item{
    width: 50%;
}

.item img{
    width: 175px;
    height: 175px;
    object-fit: cover;
}

#works{
    padding: 2.625rem 0 8rem; 
    background: -moz-linear-gradient(top, #FFC3CB, #FFF);
    background: -webkit-linear-gradient(top, #FFC3CB, #FFF);
    background: linear-gradient(to bottom, #FFC3CB #FFF);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}

.title{
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
    top: 4.5rem;
    color: #424242;
    font-family: black;
}

.site{
    margin-top: 20px;
    position: relative;
}

.heading-wrapper{
    text-align: center;
    padding-top: 20px;
}

.heading{
    display: inline-block;
    position: relative;
}

.heading-text{
    background-color: #fff;
    border: 1px solid #000;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-size: 2.125rem;
    padding: 0 0.625rem 0.1875rem;
    box-shadow: 10px 10px 3px #333;
}

.site-content{
    margin: 2.3125rem auto 0;
    width: 550px;
    height: 450px;
    margin-bottom: 50px;
}

.site-image{
    background-color: #fff;
    border: 1px solid #000;
    border-width: 0.125rem;
    padding: 1.25rem;
    position: relative;
    box-shadow: 10px 10px 3px #333;
}


.site-image img{
    height: 400px;
    width: 500px;
    object-fit: cover;
}

.site-image img:hover{
    opacity: 0.8;
}

.site-period{
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    border-width: 0.125rem;
    height: 6.75rem;
    width: 6.75rem;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    top: -3rem;
}

.site-text{
    display: block;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.date{
    display: block;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1;
    margin-top: 0.15em;
}

.decoration{
    width: 20vw;
    display: block;
    position: absolute;
    top:10px;
}

.decoration2{
    width: 20vw;
    display: block;
    position: absolute;
    bottom:10px;
    right: 10px;
}

#contact{
    background: -moz-linear-gradient(top, #C6FFE2, #FFF);
    background: -webkit-linear-gradient(top, #C6FFE2, #FFF);
    background: linear-gradient(to bottom, #C6FFE2 #FFF);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    position: relative;
    padding: 2.625rem 0 3rem
}

.sns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sns :hover{
    opacity: 0.8;
    color: #424242;
}

.sns li{
    margin-left: 30px;
}

#contact p{
    margin-top:30px;
    padding-bottom: 30px;
}

@media(max-width: 896px){

    header{
        padding-left: 25px;
    }

    .logo{
       width: 8rem;
    }

    .main-visual{
        margin-top: 80px;
    }

    .inner{
        flex-direction: column;
        padding: 0 3%;
    }

    .introduce-text{
        width: 100%;  
    }

    .phots{
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }

    .title{
        font-size: 2.5rem;
    }

    .item{
        width: 100%;
    }

    .site-content{
        width: auto;
    }

    .decoration2{
        display: none;
    }
}











